:root{
    --color_principal:#802007;
    --color_secundario:#EF798A;
}

body{
    background: var(--color_principal);
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

