.login_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    justify-content: start;
}

.login_logo{
    width: 4em;
}

h1{
    color:white
}

.login_correo{
    width: 33.75em;
    background: rgba(110,32,7,1);
    padding-top: 0.5em;
    color: gray;
    border-bottom: 1px solid gray;
}

.login_contraseña{
    width: 33.75em;
    background: rgba(110,32,7,1);
    padding-top: 0.5em;
    color: gray;
    border-bottom: 1px solid gray;
    margin-top: 1em;
}

.login_texto{
    margin-left: 0.6em;
    font-size: 1.1em;
}

.login_input_box{
    height: 2em;
}

.login_input{
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    background: none;
    border: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
}

.login_correo:focus-within{
    border-color: #F6BAC4;
}

.login_contraseña:focus-within{
    border-color: #F6BAC4;
}

.login_button{
    width: 33.75em;
    height: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #F6BAC4;
    border-radius: 2em;
    cursor: pointer;
}

.login_a{
    margin-top: 1em;
    color: #F6BAC4;
    text-decoration: none;
}

.login_a:hover{
    text-decoration: underline;
}

.login_span{
    color:blue;
    width: 33.75em;
}